@tailwind base;
@tailwind components;
@tailwind utilities;

/* button  */

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Nav bar  */


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 9%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.8rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
}

.navbar a {
  font-size: 1rem;
  color: whitesmoke;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 700;
}

.navbar a:hover,
.navbar a:active {
  color: #5468ff;
}

.gradient {
  background: -webkit-linear-gradient(#5adaff, #5468ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient1 {
  background: #5adaff;
  background: radial-gradient(circle farthest-corner at center center, #5adaff 0%, #5468ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.gradient-underline {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
}

.gradient-underline::after {
  background: #5468ff;
  background: linear-gradient(to right, transparent 0%, #5468ff 50%, transparent 100%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}


@media screen and (max-width: 480px) {
  .navbar {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
  }

  .heroSection {
    padding-top: 0px;
  }

}

.teamSection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  scale: 0.8;
}

.teamContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.teamContainer .teamcard {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.teamContainer .teamcard:hover {
  height: 320px;
}


.teamContainer .teamcard .image {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.teamContainer .teamcard .image img {
  max-width: 100%;
  border-radius: 15px;
}

.teamContainer .teamcard .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;

}

.teamContainer .teamcard:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;

}

h3 {
  padding-top: 1rem;
  font-weight: 700;
  font-size: x-large;
}

.content p {
  font-weight: 600;
  padding-top: 1rem;
}

.content img {
  padding-top: 2rem;
  height: 5rem;
}

.social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

/* .linkdin {
  scale: 1.02;
} */

.twiter {
  scale: 0.88;
}

.dropbtn {
  background-color: #5468ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  right: 0;
  margin-top: 2px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #5468ff;
  border-radius: 10px;
  color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4351b5;
}

@media (max-width: 800px) {
  .dropdown {
    display: inline-block;
  }

  .teamSection {
    flex-direction: column;
    scale: 0.7;
    height: auto;
  }
}

.left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1.2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.rt {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {

  .left,
  .right,
  .upper,
  .bottom {
    transition: none;
  }
}